<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
    <head {{ sonata_seo_head_attributes() }}>
        <title>Yalla Night Life</title>
        {{ sonata_seo_metadatas() }}
        {{ sonata_seo_link_canonical() }}
        {{ sonata_seo_lang_alternates() }}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% stylesheets '@bootstrap_css'  '@frontend_css' filter='lessphp' combine=true %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
    <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <header class="clearfix">
        <div id="preHeader"></div>
        <!-- <div class="address-bar">3481 Melrose Place | Beverly Hills, CA 90210 | 123.456.7890</div> -->

        <!-- Navigation -->

        {% include '@YallaWebsiteFrontendBundle/views/Template/menu.html.twig' %}

        <div id='topAdvRow'>
            <div id='leftAdv'>{{ render_esi(url('ads_manager_show', { 'id': 'home_header_first' })) }}</div>
            <div id='rightAdv'>{{ render_esi(url('ads_manager_show', { 'id': 'home_header_second' })) }}</div>
        </div>

        <div id='socialSearchRow'>
            <div id='socialLinks'>{{ render_esi(url('social_media_follow_us')) }}</div>
            <div id='searchBar'></div>
        </div>
    </header>
    <div id="bodyLeftAdv">{{ render_esi(url('ads_manager_show', { 'id': 'home_body_first' })) }}</div>
    <div class="wrapper">
        <div id='content'>
        {% block body %}{% endblock %}
    </div>
</div>
<div id="bodyRightAdv">{{ render_esi(url('ads_manager_show', { 'id': 'home_body_second' })) }}</div>
<footer>
    <div id='bottomAdvRow'>
        <div id='leftBottomAdv'>{{ render_esi(url('ads_manager_show', { 'id': 'home_footer_first' })) }}</div>
        <div id='rightBottomAdv'>{{ render_esi(url('ads_manager_show', { 'id': 'home_footer_second' })) }}</div>

    </div>
    <div id="footerContent">
        <div class="wrapper">
            <div class='col-lg-3'>
                {% image '@YallaWebsiteFrontendBundle/Resources/public/images/base/PlatCaiFooter.png' %}
                <img id='footer_pl_icon' src="{{ asset_url }}" alt="Platinum Cairo" />
                {% endimage %}
            </div>
            <div class="col-lg-6 text-center">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
            <div class='col-lg-3'></div>
        </div>
    </div>
</footer>
{% javascripts '@jquery' '@bootstrap_js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
{% block js_calednar %}
{% endblock %}

{#{% javascripts '@YallaWebsiteFrontendBundle/Resources/public/js/*' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}#}
</body>
</html>
