{{ dump(content) }}

{% if content %}
    {% for adv in content %}
        {{dump(adv.data[0]['link'])}}
        <img src="{{ adv.data[0]['link'] }}" width="150" height="100"/>
        {% endfor %}
{% endif %}


{#
<form enctype="multipart/form-data" action="{{ path('backend_adv_save',  {'id': adv.id})}}" class="" method="POST">
    #}
    
{{ form_widget(form) }}

                {{ form_errors(form) }}
                {{ form_row(form._token) }}
                    <input type="submit" class="btn btn-default" value="Save"/>
{#            </form>#}
