{% extends "@YallaWebsiteFrontendBundle/views/front_base.html.twig" %}
{% set tempArray = {} %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/yallawebsitefrontend/css/chocolat.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/yallawebsitefrontend/css/rateit.css') }}" />

    {% stylesheets '@fontawesome_css'%}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}    

{% block body %}
    <div class="wrapper">
        <div class="theEntityDiv">
            <div class="innerTitle">
                <h1>{{gallery.name}} {{gallery.date|date("d/m/Y")}}</h1>
            </div>
            <div id="innerEntityContent">
                {{ gallery.description }}
            </div>
            <div id="galleryViewPhotogtapher">
                {% if gallery.photographers is not empty %}
                    <p><span>Photo Credit</span>: 
                        {% for ph in gallery.photographers %}
                            <a href='ph.website'>{{ph.name}}</a> {% if not loop.last %} - {% endif %} 
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="im">
                <div class="grid-sizer"></div>
                <div id='links' data-chocolat-title="{{gallery.name}}">
                    {% for galleryHasMedia in gallery.GalleryHasMedias %}
                        {% set id = random() %}
                        {% set tempArray = tempArray|merge({('_'~id):(voteValue(galleryHasMedia.id))}) %}            
                        <div class="im-item">
                            <a class="chocolat-image" title="GallerySomething" href="{% path galleryHasMedia.media, 'large' %}"><img class="thumbnail img-responsive" src="{% path galleryHasMedia.media, 'small' %}">
                            </a>
                            <div class="chocolat-image-data">
                                {%  include 'KunstmaanVotingBundle:UpDown:vote.html.twig' with {'reference' : galleryHasMedia.id } %}
                                <div>{% include '@YallaWebsiteFrontendBundle/views/Template/socialMediaShare.html.twig' %}</div>
                                <div class="rateit" id='_{{id}}'>
                                </div>
                                {#{{ voteValue(galleryHasMedia.id)|rating(5) }}#}

                            </div>
                        </div>
                    {% endfor %}
                    {{dump(tempArray)}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block massonary %}
    {% javascripts '@massonary' '@imagesloaded'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript" src="{{ asset('bundles/yallawebsitefrontend/js/socialite.min.js') }}"></script>
    <script src="{{ asset('bundles/yallawebsitefrontend/js/jquery.blueimp-gallery.min.js') }}"></script>
    <script src="{{ asset('bundles/yallawebsitefrontend/js/jquery.rateit.js') }}"></script>
    <script src="{{ asset('bundles/yallawebsitefrontend/js/jquery.chocolat.js') }}"></script>
    <script>
        $(document).ready(function () {
            var $grid = $('.im').masonry({
                itemSelector: '.im-item',
                percentPosition: true,
                columnWidth: '.grid-sizer'
            });
            // layout Isotope after each image loads
            $grid.imagesLoaded().progress(function () {
                $grid.masonry();
            });
        {% for key, value in tempArray %}
                console.log(key + value);
                $("#{{key}}").bind('rated', function (event, value) {
                    console.log(value);
                });
        {% endfor %}
                $('#links').Chocolat({
                    imageSize: 'contain',
                });

            });
    </script>

{% endblock %}