{# empty Twig template #}
{% extends "@YallaWebsiteFrontendBundle/views/front_base.html.twig" %}
{% block body %}
    <div class="pageContent">
        <div class="wrapper">
            <div class="IndexTitle">
                <h1>Places To Go</h1>
            </div>
            {% for artist in pagination  %}
                <div class="venueDiv">
                    <div class="venueContent" data-toggle="modal" data-target="#{{artist.slug}}" style="background-image: url('{% path  artist.media, 'displayIndex' %}')">
                        <div class="venueDivTitle">
                            {{ artist.title }}
                        </div>
                    </div>
                    <div id="{{artist.slug}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal_image">
                                    {% thumbnail artist.media, 'large' with {'class': 'img-responsive'} %}
                                </div>
                                <div class="modal_title">
                                    <h2>{{artist.title}}</h2>
                                </div>
                                <div class="modal_description">
                                    <p>{{artist.biography}}</p>
                                </div>
                                <div class="modal_footer">
                                    <p>
                                        {% set entity = artist %}
                                    {% include '@YallaWebsiteFrontendBundle/views/Template/artistSocialMedia.html.twig'%}
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="page_pagination">

                {% if (pagination) %}
                    {{ knp_pagination_render(pagination, 'YallaWebsiteFrontendBundle:Template:pagination.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}