<div class="navigation col-lg-12">

    <div class="col-lg-3">
    <a id='mounth_before' class="prev" href="#" 
       onclick="
               $('#ajaxDiv').html('');
               $.ajax({type: 'POST',
                   url: Routing.generate('yfe_get_month', {month: '{{__prev_month__}}'}),
                   dataType: 'json',
                   success: function (data) {
                       console.log('Success');
                       $('#calendar').html(data.nav);
                       $('#calendar').append(data.cal);
                   }});
               return false;">
        <p style="background-image: url('{{ asset('bundles/yallawebsitefrontend/images/calendar_left.png')}}')"></p>
    </a>
</div>
<div class="col-lg-6">
    <div class="title">
        <span id='navigation_year'>{{__cal_caption_year__}}</span>
        <br/>
        <span id='navigation_month'>{{__cal_caption_month__}}</span>
    </div>
</div>
<div class="col-lg-3">
    <a id='mounth_after' class="next" href="#" 
       onclick="
               $('#ajaxDiv').html('');
               $.ajax({type: 'POST',
                   url: Routing.generate('yfe_get_month', {month: '{{__next_month__}}'}),
                   dataType: 'json',
                   success: function (data) {
                       console.log('Success');
                       $('#calendar').html(data.nav);
                       $('#calendar').append(data.cal);
                   }});
               return false;">
        <p style="background-image: url('{{ asset('bundles/yallawebsitefrontend/images/calendar_right.png')}}')"></p>
    </a>
</div>
</div>