{% extends "@YallaWebsiteFrontendBundle/views/front_base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/yallawebsitefrontend/css/slick.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/yallawebsitefrontend/css/slick-theme.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/yallawebsitefrontend/css/jquery.bxslider.css') }}" />
{% endblock %}

{% block body %}
    <div class="pageContent">
        <div class="row" id='homepage_part1'>
            <div class="IndexTitle col-lg-12" >
                <h1>EXCEPTIONAL LEVEL OF ENTERTAINMENT</h1>
            </div>
            <div class="col-lg-12">
                <div id='HomePageSliderDiv'>
                    <ul class="bxslider">
                        {% for slider in home.SliderEntities %}
                            <li>
                                <div class="HomeSliderDiv"> 
                                    <div class="HomeSliderContent" style="background-image: url('{% path  slider.media, 'homePage' %}')">
                                        <div class="HomeSlideDivTitle">
                                            <h3>
                                                {% if slider.name is defined %}
                                                    {{slider.name}}
                                                {% else %}
                                                    {{slider.title}}
                                                {% endif%}
                                            </h3>
                                            <h5>
                                                {% if slider.description is defined %}
                                                    {{slider.description[0:100]|raw }}...
                                                {% else %}
                                                    {{ slider.content[0:100]|raw }}...
                                                {% endif%}


                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div id='HomePageRightDiv'>
                    <div id="yt_player">    
                        <div id="ytplayer"></div>
                    </div>
                    <div id="hp_gallery" style="background-image: url('{% path  home.selectedGallery.media, 'medium' %}');">
                        {#<div style="background-color: yellow; height: 29px; width: 120px; top:20px;left:2px;position:absolute;">#}
                        {#<p style="line-height: 29px;">SNAPSHOT</p>#}
                        <p style="
                           line-height: 10px;
                           background-color: yellow;
                           height: 29px;
                           width: 89px;
                           margin: 0px;
                           display: table-cell;
                           vertical-align: middle;
                           padding: 9px;
                           position: absolute;
                           top: 23px;
                           left: 8px;
                           text-align: center;}
                           ">SNAPSHOT</p>
                        {#</div>#}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <p class="subtitle fancy"><span>WHAT'S ON</span></p>
        </div>
        <div class="row" id='homepage_part2'>
            {% set art= [0,1,2,3] %}
            {{ dump(art|shuffle)}}
            <div class="col-lg-3">
                <div class="col-lg-12" style="height: 250px; background-color: #000099">{% thumbnail home.sideArticles[0].media, 'small' %}</div>
                <div class="col-lg-12" style="height: 250px; background-color: #0044aa">{% thumbnail home.sideArticles[1].media, 'small' %}</div>
            </div>
            <div id='HomeArticlesFeatured' class="col-lg-6" style="height: 500px;background-image: url('{% path  home.mainArticle.media, 'medium' %}');">
            
                <img src="{{asset('bundles/yallawebsitefrontend/images/RC.png')}}" 
                     style="position: absolute;
                     right: 0;
                     top: 0;
                     height: 20%;"/>
            
            </div>
            <div class="col-lg-3">
                <div class="col-lg-12" style="height: 250px; background-color: #0072b1">{#{% thumbnail home.sideArticles[2].media, 'small' %}#}</div>
                <div class="col-lg-12" style="height: 250px; background-color: #ebebeb">{#{% thumbnail home.sideArticles[0].media, 'small' %}#}</div>
            </div>

        </div>
        <div class="row">
            <p class="subtitle fancy"><span>Hottest Events of the wek</span></p>
        </div>
        <div class="row">
            <div class="col-lg-15" style="height: 200px; background-color:#000 "></div>
            <div class="col-lg-15" style="height: 200px; background-color:#000099 "></div>
            <div class="col-lg-15" style="height: 200px; background-color:#0044aa "></div>
            <div class="col-lg-15" style="height: 200px; background-color:#0072b1 "></div>
            <div class="col-lg-15" style="height: 200px; background-color:#aa6708; margin-right: 0px; "></div>
        </div>
        <div class="row">
            <div class="col-lg-15"></div>
            <div class="col-lg-15" style="height: 200px; background-color:#000099 "></div>
            <div class="col-lg-15" style="height: 200px; background-color:#0044aa "></div>
            <div class="col-lg-15" style="height: 200px; background-color:#0072b1 "></div>
            <div class="col-lg-15"></div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{asset('bundles/yallawebsitefrontend/js/jquery.bxslider.min.js')}}"></script>    
    <script>
        // Load the IFrame Player API code asynchronously.
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // Replace the 'ytplayer' element with an <iframe> and
        // YouTube player after the API code downloads.
        var player;
        function onYouTubePlayerAPIReady() {
            player = new YT.Player('ytplayer', {
                height: '250',
                width: '100%',
                videoId: '{{home.videoLink}}'
            });
        }


        jQuery(document).ready(function ($) {
            $('.bxslider').bxSlider({
                minSlides: 1,
                maxSlides: 1,
                controls: true,
            });
        });



    </script>
{% endblock %}