{% extends "YallaWebsiteBackendBundle:Event:base_event.html.twig" %}
{% block controlleraction  %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Edit Event
        </div>

        <div class="panel-body">
            <form enctype="multipart/form-data" action="{{ path('backend_event_edit',  {'id': event.id})}}" method="POST">      
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="title">Event Name</label>
                        {{ form_widget(form.title)}}
                    </div>

                    <div class="form-group">
                        <label for="date">Event Start Date</label>
                        {{ form_widget(form.startDate)}}
                    </div>

                    <div class="form-group">
                        <label for="date">Event End Date</label>
                        {{ form_widget(form.endDate)}}
                    </div>
                </div>
                <div class="col-lg-6" style="text-align: center">
                    {% if event is defined %}
                        {% thumbnail  event.media, 'medium'  with {'class': 'img-thumbnail'} %}
                    {% endif %}</div>

                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="date">Event Details</label>
                        {{ form_widget(form.location)}}
                        <label>Or Choose From Existing Venues</label>
                        {#{{ form_widget(form.venue_locations)}}#}
                        
                    <select id="event_venue_locations_venue" name="event[venue_locations][venue]" class="dropdown form-control">
                        <option value=""></option>
                        {% for key, ven in list %}
                            <option value="{{key}}">{{ven}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class='form-group'>
                        {{ form_row(form.tags) }}
                            {#{{dump(form.tags.vars.value)}}#}
                  {#      {% for tag in event.getTags %}
                            {% if tag %}

                                <span class="label label-primary">
                                    {{ tag.name }}

                                    {% for tr in tag.getTagRelation %}

                                        <a href="{{ path('mykees_delete_relation',{'relation_id':tr.id}) }}" class="delTag">[x]
                                        </a>

                                    {% endfor %}

                                </span>
                            {% endif %}
                        {% endfor %}#}
                    </div>
                    <div class="form-group">
                        <label for="date">Event Description</label>
                        {{ form_widget(form.content)}}
                    </div>
                    <div class="form-group">
                        <label for="media">Cover Image</label>
                        {{ form_widget(form.media)}}
                        <p class="help-block">Only Images.</p>
                    </div>
                        {{ form_errors(form) }}
                        {{ form_row(form._token) }}
                    <input type="submit" class="btn btn-default" value="Save"/>
                </div>

            </form>
        </div>
                    
    {% endblock %}
    
    {% block javascripts %}
    {#{{ parent() }}
    {{ mk_tag_javascript() }}#}
    {#<script>
         $(function(){
        $('#event_tags').select2({
      tags: [{% for tag in event.tags %}"{{tag.name}}",{% endfor %}]
     });
      });
          
    </script>#}
{% endblock %}
    
    